%div.dashboard.fix-after1280
  .row-fluid.dashboard-main-header-row
    .span12
      %h2#dashboard-header.span6 Workout
      .span2.main-category#dashboard-manage
        %a{href: '#'} Manage
      .span2.main-category#dashboard-schedule
        %a{href: '#'} Schedule
      .span2.main-category#dashboard-stats
        %a{href: '#'} Stats
  .row-fluid.dashboard-manage-subcategory-row
    .span12
      .span6#workout-main
        %a{href: "#"} Main
      .span6#past-workouts
        %a{href: '#'} Past Workouts
  .row-fluid.dashboard-upcoming-workouts-row
    .span12
      .span1
      .span3
        %p Upcoming workouts:
      .span8
  .row-fluid.dashboard-add-workout-button-row
    .span12
      .span4
      .span4
        %button#add-workout Add Workout
  .dashboard-add-workout-modal-row
    .span12
      .row-fluid.add-workout-header
        .span3
          %h2 New Workout
        .span9
          .row-fluid.add-workout-top-right
            .span12
              .row-fluid.add-workout-name
                %label{id: "workout-name-label", class: "span2"} Workout Name
                %input{id: "workout-name-input", class: "span10", type: "text"}

      .row-fluid.add-workout-exercise
        .span12
          .span3
            %button{id: "add-exercise-button"} + Exercise
          .span3
            %h2 Exercises
          .span3

          .span3
            %button Collapse



