%div.dashboard
  .row-fluid.dashboard-main-header-row
    .span12
      %h2#dashboard-header.span6 Workout
      .span2.main-category#dashboard-manage
        %a{href: '#'} Manage
      .span2.main-category#dashboard-schedule
        %a{href: '#'} Schedule
      .span2.main-category#dashboard-stats
        %a{href: '#'} Stats
  .row-fluid.dashboard-manage-subcategory-row
    .span12
      .span6#workout-main
        %a{href: "#"} Main
      .span6#past-workouts
        %a{href: '#'} Past Workouts
  .row-fluid.dashboard-upcoming-workouts-row
    .span12
      .span3.offset1
        %p Upcoming workouts:
  #container
  .row-fluid.dashboard-add-workout-button-row
    .span12
      .span4.offset4.add-workout-button-area






