%div.dashboard
  .row-fluid.dashboard-first-row
    .span12
      %h2#dashboard-header.span6 Workout
      .span2.main-category#dashboard-schedule
        %a{href: '#'} Schedule
      .span2.main-category#dashboard-stats
        %a{href: '#'} Stats
      .span2.main-category#dashboard-settings
        %a{href: '#'} Settings
  .row-fluid.dashboard-second-row
    .span12
      .span6#workout-main
        %a{href: "#"} Main
      .span6#past-workouts
        %a{href: '#'} Past Workouts
  .row-fluid.dashboard-third-row
    .span12
  .row-fluid.dashboard-fourth-row
    .span12


