.hero-unit
  %div.dashboard
    .row-fluid.dashboard-main-header-row
      .span12
        %h2#dashboard-header.span6 Dashboard
        .span2.main-category#dashboard-manage
          .dashboard-image-area
            %img{alt: "control_panel", src: "/assets/icons/dashboard/control_panel.png"}
          %a{href: '#'} Manage
        .span2.main-category#dashboard-schedule
          .dashboard-image-area
            %img{alt: "calendar", src: "/assets/icons/dashboard/calendar.png"}
          %a{href: '##'} Schedule
        .span2.main-category#dashboard-stats
          .dashboard-image-area
            %img{alt: "statistics", src: "/assets/icons/dashboard/stats.png"}
          %a{href: '#'} Statistics
    .row-fluid.dashboard-manage-subcategory-row
      .span12
        .span6#workout-main.dashboard-active-subcategory.dashboard-subcategory
          %a{href: '#'} Main
        .span6#past-workouts.dashboard-inactive-subcategory.dashboard-subcategory
          %a{href: '#pastworkouts'} Past Workouts
    .row-fluid.dashboard-upcoming-workouts-row
      .span12
        .span6.offset1
          %p Upcoming workouts:
    .row-fluid#for-side-borders
      #workout-form-container
    .row-fluid.dashboard-add-workout-button-row
      .span12.add-button-secondary-container
        .span4.offset4.add-workout-button-area






