%div.dashboard
  .row-fluid.dashboard-main-header-row
    .span12
      %h2#dashboard-header.span6 Workout
      .span2.main-category#dashboard-manage
        %a{href: '#'} Manage
      .span2.main-category#dashboard-schedule
        %a{href: '#'} Schedule
      .span2.main-category#dashboard-stats
        %a{href: '#'} Stats
  .row-fluid.dashboard-manage-subcategory-row
    .span12
      .span6#workout-main
        %a{href: "#"} Main
      .span6#past-workouts
        %a{href: '#'} Past Workouts
  .row-fluid.dashboard-upcoming-workouts-row
    .span12
      .span3.offset1
        %p Upcoming workouts:
  .dashboard-add-workout-modal-row
    .row-fluid
      .span12
        %h2.dashboard-add-workout-header New Entry Workout
      .span12
        .row-fluid
          .span10.offset1.dashboard-add-workout-name
            .row-fluid
              .span3
                %label#add-workout-name-label Workout Name
              .span9
                %input{id: "dashboard-workout-name-input"}
          .row-fluid
            .span10.offset1.dashboard-add-workout-exercise
              .row-fluid
                .span3
                  %label.add-workout-exercise-label Exercise
                .span6
                  %select.add-workout-exercise-drop-downlist
                .span3
                  .span4
                    %button.add-workout-exercise-filter F
                  .span4
                    %button{class: "add-workout-exercise-add-button"} +
                  .span4
                    %button{class: "add-workout-exercise-remove-button"} -
          .row-fluid
            .span10.offset1.dashboard-exercise-set
              .row-fluid
                .span2.indent-set-spacer
                .span1.color-set-number
                  %label.add-workout-set-label S1

                .span6.color-weights-and-reps-items
                  .row-fluid
                    .span7
                      .row-fluid
                        .span12
                          .span4
                            %label{id: "add-workout-exercise-entry-label"} Weight
                          .span6
                            %input{id: "add-workout-exercise-entry-input"}
                          .span2
                            %p.add-workout-units kg
                    .span5
                      .span6
                        %label{id: "add-workout-reps-label"} Reps
                      .span6
                        %input{id: "add-workout-reps-input"}
                .span3.color-weights-and-reps-items
                  .span4.offset4
                    %button{id: "add-workout-reps-add-button"} +
                  .span4
                    %button{id: "add-workout-reps-remove-button"} -





  .row-fluid.dashboard-add-workout-button-row
    .span12
      .span4.offset4
        %button#add-workout Add Workout
        #container



