%div.dashboard
  .row-fluid.dashboard-main-header-row
    .span12
      %h2#dashboard-header.span6 Workout
      .span2.main-category#dashboard-manage
        %a{href: '#'} Manage
      .span2.main-category#dashboard-schedule
        %a{href: '#'} Schedule
      .span2.main-category#dashboard-stats
        %a{href: '#'} Stats
  .row-fluid.dashboard-manage-subcategory-row
    .span12
      .span6#workout-main
        %a{href: "#"} Main
      .span6#past-workouts
        %a{href: '#'} Past Workouts
  .row-fluid.dashboard-upcoming-workouts-row
    .span12
      .span3.offset1
        %p Upcoming workouts:
  .dashboard-add-workout-modal-row
    .row-fluid
      .span12
        %h2.dashboard-add-workout-header New Entry Workout
      .span12
        .row-fluid
          .span10.offset1.dashboard-add-workout-name
            .row-fluid
              .span3
                %label#add-workout-name-label Workout Name
              .span9
                %input{id: "dashboard-workout-name-input"}
          .row-fluid
            .span10.offset1.dashboard-add-workout-exercise
              .row-fluid
                .span3
                  %label.add-workout-exercise-label Exercise
                .span4
                  %select.add-workout-exercise-drop-downlist
                .span5
                  .span4
                    %button.add-workout-exercise-filter F
                  .span4
                    %button{class: "add-workout-exercise-add-button"} +
                  .span4
                    %button{class: "add-workout-exercise-remove-button"} -



  .row-fluid.dashboard-add-workout-button-row
    .span12
      .span4.offset4
        %button#add-workout Add Workout
        #container



