@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";




/*Pixels to Ems converter*/
@function pem($pixels) {
  @return #{$pixels/16.0}em
}


/*Front Page Begin*/
.mainpage-box {
  border: 1px black solid;

  top: 24px;
  right: 0;
  z-index: 999;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(top, #fff, #eee);
  padding: 15px;
  -moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 3 3px 3px;
  -webkit-border-radius: 3px 3 3px 3px;
  border-radius: 3px 3 3px 3px;

  h2{
    text-align: center;
    padding: 20px;
  }
}
.btn-custom {
  background-color: hsl(349, 92%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7082e", endColorstr="#6b0417");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d7082e), to(#6b0417));
  background-image: -moz-linear-gradient(top, #d7082e, #6b0417);
  background-image: -ms-linear-gradient(top, #d7082e, #6b0417);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7082e), color-stop(100%, #6b0417));
  background-image: -webkit-linear-gradient(top, #d7082e, #6b0417);
  background-image: -o-linear-gradient(top, #d7082e, #6b0417);
  background-image: linear-gradient(#d7082e, #6b0417);
  border-color: #6b0417 #6b0417 hsl(349, 92%, 16.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.main-container{
  padding-left:0px;
  padding-right: 0px;
}


#login-link{
  @media (min-width: pem(1100)){
    display: none !important;
  }
}

.exclaim-signup {
  text-align: center;
  h1 {
    @media (max-width: pem(350)){
      font-size: pem(34);
    }
  }
  h2 {
    @media (max-width: pem(350)){
      font-size: pem(15);
    }
  }
  a h3 {
    @media (max-width: pem(350)){
      font-size: pem(15);
    }
  }
}
.exclaim-span{
  @media (max-width: pem(1100)){
    width: 100% !important;
  }
}
.emailname{
  background-color: #228b22;
}

.mainpage-signup-btn{
  height: 50px;
  width: 220px;
  @media (max-width: pem(1100)){
    height: pem(60);
    width: 300px;
  }
}
.mainpage-box {
  border: 1px black solid;
  margin-left: 10%;
  h2{
    text-align: center;
    padding: 20px;
  }
  @media (max-width: pem(1100)){
    display: none;
  }
}
.mainpage-inputrow{
  width: 80%;
  margin: auto;
}
.mainpage-form-field{
  width: 98%;
}
.mainpage-sign-in-button{
  float: right;
  height: 35px !important;
  width: 100px !important;
}
.mainpage-lastrow{
  padding-top: 20px;
}
/*Front Page End*/