


/*Front Page Begin*/
.mainpage-box {
  border: 1px black solid;

  top: 24px;
  right: 0;
  z-index: 999;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(top, #fff, #eee);
  padding: 15px;
  -moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 3 3px 3px;
  -webkit-border-radius: 3px 3 3px 3px;
  border-radius: 3px 3 3px 3px;

  h2{
    text-align: center;
    padding: 20px;
  }
}
.btn-custom {
  background-color: hsl(349, 92%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7082e", endColorstr="#6b0417");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d7082e), to(#6b0417));
  background-image: -moz-linear-gradient(top, #d7082e, #6b0417);
  background-image: -ms-linear-gradient(top, #d7082e, #6b0417);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7082e), color-stop(100%, #6b0417));
  background-image: -webkit-linear-gradient(top, #d7082e, #6b0417);
  background-image: -o-linear-gradient(top, #d7082e, #6b0417);
  background-image: linear-gradient(#d7082e, #6b0417);
  border-color: #6b0417 #6b0417 hsl(349, 92%, 16.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.main-container{
  padding-left:0px;
  padding-right: 0px;
}

#flash_notice p {
  @media (max-width: 28.125em){
    font-size: 0.8em;
    padding: 10px 10px 0 7px;
  }
}

#login-link{
  @media (min-width: 68.75em){
    display: none !important;
  }
}
.forgotpassword-button{
  font-size: 90%;
}
#user_remember_me{
  float: left;
  margin: 3% 0%;
}
#remember-me-phrase{
  float: left;
  font-size: 90%;
  padding-left: 2%;
}
.exclaim-signup {
  text-align: center;
  h1 {
    @media (max-width: 21.875em){
      font-size: 2.125em;
    }
  }
  h2 {
    @media (max-width: 21.875em){
      font-size: 0.9375em;
    }
  }
  a h3 {
    @media (max-width: 21.875em){
      font-size: 0.9375em;
    }
  }
  .tagline-phrase-area{
    margin-top: 1em;
  }
  .tryout-weighty-plates-link-area{
    margin-bottom: 1.8em;
    a{
      font-weight: bold;
    }
  }
}
.exclaim-span{
  @media (max-width: 68.75em){
    width: 100% !important;
  }
}
.exclaim-signup{
  h1 {
    color: #424242;
  }
}
.emailname{
  background-color: #228b22;
}

.mainpage-signup-btn{
  height: 50px;
  width: 220px;
  @media (max-width: 68.75em){
    height: 3.75em;
    width: 300px;
  }
}
.mainpage-box {
  border: 1px black solid;
  margin-left: 10%;
  h2{
    text-align: center;
    padding: 20px;
  }
  @media (max-width: 68.75em){
    display: none;
  }
}
.mainpage-inputrow{
  width: 80%;
  margin: auto;
}
.mainpage-form-field{
  width: 98%;
}
.mainpage-sign-in-button{
  float: right;
  height: 35px !important;
  width: 100px !important;
}
.mainpage-lastrow{
  padding-top: 20px;
}

/*Front Page End*/