
/*Dashboard Begin*/

.dashboard {
  position: relative;
}
.dashboard-main-header-row{
  #dashboard-header{
    font-size: 280%;
  }
  .main-category {
    margin-top: 8%;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    a {
      font-size: 1.2em;
      color: #5D5253;
      display: inline-block;
      width: 100%;
    }
    a:hover {
      color: #A2A3A3;
    }
  }
}
.dashboard-manage-subcategory-row{
  position: relative;
  margin-top: 4%;
  .span6{
    width: 50%;
    margin-left: 0%;
    text-align: center;
    background-color: #C2081D;
    min-height: 40px;
    a{
      color: white;
      position: absolute;
      padding-top: 0.2em;
      left: 0em;
    }
  }
  #workout-main a{
    width: 50%;
    height: 100%;
  }
  #past-workouts a{
    height: 100%;
    left: 50%;
    width: 50%;
  }
  .dashboard-active-subcategory{
    font-weight: 600;
    -moz-box-shadow: 1px  1px  2px  #2e2d2e;
    -webkit-box-shadow: 1px  1px  2px  #2e2d2e;
    -o-box-shadow: 1px  1px  2px  #2e2d2e;
    box-shadow: 1px  1px  2px  #2e2d2e;
  }
  .dashboard-inactive-subcategory{
    background-color: #CC2538;
  }
}
.dashboard-upcoming-workouts-row{
  font-size: 120%;
  p{
    padding-top: 3%;
    font-size: 0.85em;
  }
}
.dashboard-add-workout-button-row{
  min-height: 200px;
  .add-button-secondary-container{
    background-color: #CC2538;
    padding: 1em 0em;
  }
  #add-workout{
    width: 60%;
    margin-left: 20%;
    height: 42px;
  }
}
/* Add Workout Begin*/
#workout-form-main-close-button{
  width: 100%;
  margin-top: 10px;
  margin-left: -25%;
}
.dashboard-add-workout-modal-row{
  display: none;
}
.dashboard-add-workout-modal-row-show{
  width: 80%;
  margin: 4.5% 10%;
  float: left;
  /*background-color: yellow;*/
  display: inline !important;
  border: 1px solid #999999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  .workout-form-contents{
    margin-left: 0%;
  }
  .workout-entry-exercise-and-sets-row{
    .hide-add-workout-button{
      visibility: hidden;
    }
    .hide-add-workout-reps-remove-button{
      visibility: hidden;
    }
    .an-entry-detail{
      .weight-list-error-msg{
        font-size: 0.85em;
        margin-bottom: 0.5em;
        margin-top: 1.4em;
        width: 750%;
      }
    }
  }
}
.dashboard-add-workout-header-area{
  margin-bottom: 3.5%;
  /*background-color: #ff7f50;*/
  background-image: linear-gradient(bottom, rgb(112,109,105) 5%, rgb(140,134,126) 31%, rgb(153,148,141) 82%);
  background-image: -o-linear-gradient(bottom, rgb(112,109,105) 5%, rgb(140,134,126) 31%, rgb(153,148,141) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(112,109,105) 5%, rgb(140,134,126) 31%, rgb(153,148,141) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(112,109,105) 5%, rgb(140,134,126) 31%, rgb(153,148,141) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(112,109,105) 5%, rgb(140,134,126) 31%, rgb(153,148,141) 82%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.05, rgb(112,109,105)),
    color-stop(0.31, rgb(140,134,126)),
    color-stop(0.82, rgb(153,148,141))
  );
}
.dashboard-add-workout-header{
  text-align: left;
  padding-left: 12%;
  color: white;
  /*background-color: #f4a460;
  background-color: orange;*/
}
.dashboard-add-workout-name{
  margin-top: 4%;
  /*background-color: #bc8f8f;*/

}
#add-workout-name-label{
  margin-top: 2%;
  text-align: right;
}
.dashboard-workout-name-input{
  width: 99%;
}
.dashboard-workout-name-input.hint{
  color: #A9A9A9;
}
.dashboard-add-workout-exercise{
  /*background-color: #adff2f;*/
  .control-group{
    margin-bottom: 0%;
  }
  .select-list-error-msg{
    float: left;
    margin-bottom: 0.9em;
    margin-top: 13px;
    width: 135%;
    font-size: 0.85em;
  }
}
.add-workout-exercise-label{
  margin-top: 2%;
  text-align: right;
}
.add-workout-exercise-drop-downlist{
  margin-top: 0.5%;
  width: 100%;
  font-size: 0.8em;
}
.add-workout-exercise-filter,
.add-workout-exercise-add-button,
.add-workout-exercise-remove-button{
  width: 100%;
}
.dashboard-exercise-set{
  /*background-color: #d3d3d3;*/
  .details-set-weight{
    padding-bottom: 0.5em;
  }
}
.add-workout-set-label{
  text-align: right;
  margin-top: 0.2em;
}
.add-workout-exercise-entry-label{
  text-align: right;
  margin-top: 0.2em;
}
.add-workout-exercise-entry-input{
  width: 100%;
}
.add-workout-units{
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.1em;
  margin-left: 0.7em;
}
.add-workout-reps-input{
  width: 94%;
}
.add-workout-reps-label{
  text-align: right;
  margin-bottom: 0;
  margin-top: 0.2em;
}
.add-workout-reps-add-button,
.add-workout-reps-remove-button{
  width: 100%;
}
.color-weights-and-reps-items{
  /*background-color: #778899;*/
}
.last-row-buttons-row{
  /*background-color: #db7093;*/
}
.last-row-buttons{
  width: 100%;
  height: 35px;
}
#last-row-add-note-button{
  margin-bottom: 6%;
  margin-top: 1%;
}
#last-row-cancel-button{
  width: 94%;
  margin-left: 6%;
}
.min-row-height{
  min-height: 40px !important;
  margin-bottom: 1.5%;
}
.dashboard-upcoming-workouts-row{
  width: 99.8%;
  background-color: #fafafa;
  border: 1px solid #858585;
  border-top: none;
}

#workout-name-container{
  margin-bottom: 2.5%;
}
#last-row-container{
  margin: auto;
  width: 80%;
}
#for-side-borders{
  border: 1px solid #969696;
  border-bottom: none;
  border-top: none;
  width: 99.8%;
  background-color: #f5f5f5;
}
#last-row-rule{
  margin-top: 2%;
}


/* Add Workout End*/





/*Dashboard End*/
