
/*Dashboard Begin*/

.dashboard {
  position: relative;
}
.dashboard-main-header-row{
  #dashboard-header{
    font-size: 280%;
  }
  .main-category {
    margin-top: 5%;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    a {
      font-size: 1.2em;
      color: #5D5253;
    }
    a:hover {
      color: #A2A3A3;
    }
  }
}
.dashboard-manage-subcategory-row{
  position: relative;
  margin-top: 5%;
  .span6{
    width: 50%;
    margin-left: 0%;
    text-align: center;
    background-color: #C2081D;
    min-height: 40px;
    a{
      color: white;
      position: absolute;
      top: 0.2em;
    }
  }
  #workout-main a{
    left: 24%;
  }
  #past-workouts a{
    left: 70%;
  }
  .dashboard-active-subcategory{
    font-weight: 600;
    -moz-box-shadow: 1px  1px  2px  #2e2d2e;
    -webkit-box-shadow: 1px  1px  2px  #2e2d2e;
    box-shadow: 1px  1px  2px  #2e2d2e;
  }
  .dashboard-inactive-subcategory{
    background-color: #CC2538;
  }
}
.dashboard-upcoming-workouts-row{
  font-size: 120%;
  p{
    padding-top: 3%;
    font-size: 0.85em;
  }
}
.dashboard-add-workout-button-row{
  padding-top: 5%;
  min-height: 200px;
  #add-workout{
    width: 60%;
    margin-left: 20%;
    height: 42px;
  }
}
/* Add Workout Begin*/
#workout-form-main-close-button{
  width: 100%;
}
.dashboard-add-workout-modal-row{
  display: none;
}
.dashboard-add-workout-modal-row-show{
  margin: 2% 0%;
  float: left;
  background-color: yellow;
  display: inline !important;
}
.dashboard-add-workout-header-area{
  margin-bottom: 3.5%;
  background-color: #ff7f50;
}
.dashboard-add-workout-header{
  text-align: left;
  padding-left: 5%;
  background-color: #f4a460;
  background-color: orange;
}
.dashboard-add-workout-name{
  background-color: #bc8f8f;
}
#add-workout-name-label{
  margin-top: 2%;
  text-align: right;
}
.dashboard-workout-name-input{
  width: 99%;
}
.dashboard-workout-name-input.hint{
  color: #A9A9A9;
}
.dashboard-add-workout-exercise{
  background-color: #adff2f;
}
.add-workout-exercise-label{
  margin-top: 2%;
  text-align: right;
}
.add-workout-exercise-drop-downlist{
  margin-top: 0.5%;
  width: 100%;
  font-size: 0.8em;
}
.add-workout-exercise-filter,
.add-workout-exercise-add-button,
.add-workout-exercise-remove-button{
  width: 100%;
}
.dashboard-exercise-set{
  background-color: #d3d3d3;
}
.add-workout-set-label{
  text-align: right;
}
.add-workout-exercise-entry-label{
  text-align: right;
}
.add-workout-exercise-entry-input{
  width: 100%;
}
.add-workout-units{
  text-align: center;
}
.add-workout-reps-input{
  width: 94%;
}
.add-workout-reps-label{
  text-align: right;
}
.add-workout-reps-add-button,
.add-workout-reps-remove-button{
  width: 100%;
}
.color-weights-and-reps-items{
  background-color: #778899;
}
.last-row-buttons-row{
  background-color: #db7093;
}
.last-row-buttons{
  width: 100%;
}
#last-row-cancel-button{
  width: 94%;
  margin-left: 6%;
}
.min-row-height{
  min-height: 40px !important;
  margin-bottom: 1.5%;
}



/* Add Workout End*/

.dashboard-upcoming-workouts-row{
  margin-top: 2%;
  background-color: #c0c0c0;
}



/*Dashboard End*/
