/*Dashboard Begin*/

.dashboard {
  position: relative;
}

.dashboard-main-header-row {
  #dashboard-header {
    font-size: 280%;
  }
  .main-category {
    text-align: center;
    border-bottom: 2px solid;
    a {
      font-size: 1.2em;
      color: #5D5253;
      display: inline-block;
      width: 100%;
    }
    a:hover {
      color: #A2A3A3;
    }
  }
  .dashboard-image-area {
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    margin: auto;
    margin-bottom: 2.3em;
  }
}

.dashboard-manage-subcategory-row {
  position: relative;
  margin-top: 4%;
  .span6 {
    width: 50%;
    margin-left: 0%;
    text-align: center;
    background-color: #C2081D;
    min-height: 40px;
    a {
      color: white;
      position: absolute;
      padding-top: 0.2em;
      left: 0em;
    }
  }
  #workout-main a {
    width: 50%;
    height: 100%;
  }
  #past-workouts a {
    height: 100%;
    left: 50%;
    width: 50%;
  }
  .dashboard-active-subcategory {
    font-weight: 600;
    -moz-box-shadow: 1px 1px 2px #2e2d2e;
    -webkit-box-shadow: 1px 1px 2px #2e2d2e;
    -o-box-shadow: 1px 1px 2px #2e2d2e;
    box-shadow: 1px 1px 2px #2e2d2e;
  }
  .dashboard-inactive-subcategory {
    background-color: #CC2538;
  }
}

.dashboard-upcoming-workouts-row {
  font-size: 120%;
  p {
    padding-top: 3%;
    font-size: 0.85em;
  }
}

.dashboard-add-workout-button-row {
  margin-bottom: 3em;
  .add-button-secondary-container {
    background-color: #CC2538;
    padding: 1em 0em;
  }
  #add-workout {
    width: 60%;
    margin-left: 20%;
    height: 42px;
  }
}

/* Add Workout Begin*/
.dashboard-add-workout-modal-row {
  display: none;
}

.dashboard-add-workout-modal-row-show {
  width: 80%;
  margin: 4.5% 10%;
  float: left;
  /*background-color: yellow;*/
  display: inline !important;
  border: 1px solid #999999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  .workout-form-contents {
    margin-left: 0%;
    .workout-form-second-wrapper {
      margin-left: 3.6%;
    }
  }
  .workout-entry-exercise-and-sets-row {
    .exercise-grouping {
      float: left;
      margin-top: 20px;
    }
    .hide-add-workout-button {
      visibility: hidden;
    }
    .hide-add-workout-reps-remove-button {
      visibility: hidden;
    }
    .an-entry-detail {
      .list-error-msg {
        float: left;
        font-size: 0.85em;
        margin-bottom: 0.8em;
        width: 100%;
        p {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.dashboard-add-workout-header-area {
  margin-bottom: 5%;
  background-image: -webkit-linear-gradient(top, #464646, #343434);
  background-image: -moz-linear-gradient(top, #464646, #343434);
  background-image: -o-linear-gradient(top, #464646, #343434);
  background: linear-gradient(to bottom, #464646 0%, #343434 100%) repeat scroll 0 0 transparent;
  .dashboard-add-workout-header {
    text-align: left;
    padding-left: 12%;
    color: white;
  }
  .btn-close-area {
    position: relative;
  }
  #workout-form-main-close-button {
    position: absolute;
    right: 50%;
    top: 40%;
    font-weight: bold;
  }
}

.dashboard-add-workout-name {
  margin-top: 4%;
  /*background-color: #bc8f8f;*/

}

#add-workout-name-label {
  margin-top: 2%;
  text-align: right;
}

.dashboard-workout-name-input {
  width: 99%;
}

.dashboard-workout-name-input.hint {
  color: #A9A9A9;
}

.dashboard-add-workout-exercise {
  /*background-color: #adff2f;*/
  .exercise-drop-down-area {
    background-color: #494848;
    padding-right: 20px;
    padding-top: 9px;
    border: 1px solid #e1e1e1 !important;
    border-radius: 4px 4px 4px 4px;
  }
  .control-group {
    margin-bottom: 0%;
  }
  .select-list-error-msg {
    float: left;
    margin-bottom: 0.9em;
    margin-top: 13px;
    width: 135%;
    font-size: 0.85em;
  }
}

.add-workout-exercise-area {
  .add-workout-exercise-label {
    margin-top: 2%;
    text-align: right;
    color: white;
  }
}

.add-workout-exercise-drop-downlist {
  margin-top: 0.5%;
  width: 100%;
  font-size: 0.8em;
}

.add-workout-exercise-add-button,
.add-workout-exercise-remove-button {
  width: 100%;
}

.dashboard-exercise-set {
  /*background-color: #d3d3d3;*/
  label:hover {
    cursor: move;
  }
  .high-light-details {
    /*border-left: 3px solid gray;*/
    background-color: #fafafa;
    border: 1px solid #cd8991 !important;
    border-radius: 4px 4px 4px 4px;
    label, p {
      color: #c3515e;
    }
  }
  .details-set-weight {

    padding-right: 20px;
    padding-top: 10px;
    border: 1px solid transparent;
    .add-remove-buttons {
      margin-top: -2px;
      .add-workout-reps-add-button, .add-workout-reps-remove-button {
        width: 100%;
      }
    }
    .indent-set-spacer {
      margin-left: 0%;
    }
    .detail-wrapper {
      .group-set-number {
        .add-workout-set-label {
          text-align: right;
        }
      }

      .weight-and-rep-inputs {
        float: left;
        .weight-input-wrapper {
          .add-workout-exercise-entry-label {
            text-align: right;
          }
        }

        .weight-control {
          padding: 0px 9px;
          .add-workout-weight-input {
            width: 90%;
          }
        }
        .workout-units-lb-area {
          float: left;
          .add-workout-units {
            text-align: center;

          }
        }

        .add-workout-reps-input {
          width: 93%;
        }
        .add-workout-reps-label-area {
          .add-workout-reps-label {
            text-align: right;

          }
        }
        .rep-control {
          padding-left: 7px;
        }
      }
    }
  }
  .details-set-weight:hover {
    cursor: move;
  }
  .ui-sortable-helper {
    border: 1px solid #c0c0c0;
    background-color: #fafafa;
    padding-right: 15px;
    margin-left: 30px;
    cursor: move;
  }
  .place-holder {
    height: 10px;
    background-color: #ED4A5A;
    border-color: #ff4500;
    margin-bottom: 10px;;
  }
}

.last-row-button-container {
  float: left;
  margin: 0.5em 0em 1em;
}

#last-row-buttons {

  button {
    height: 35px;
  }
  #last-row-note-button, #last-row-save-button {
    width: 100%;

  }

}

#last-row-cancel-button {
  width: 94%;
  margin-left: 6%;
}

.min-row-height {
  min-height: 40px !important;
  margin-bottom: 1.5%;
}

.dashboard-upcoming-workouts-row {
  width: 99.8%;
  background-color: #fafafa;
  border: 1px solid #858585;
  border-top: none;
}

#last-row-container {
  margin-top: 0.3em;
  margin-left: 8%;
  width: 80%;
  float: left;
}

#for-side-borders {
  border: 1px solid #969696;
  border-bottom: none;
  border-top: none;
  width: 99.8%;
  background-color: #f5f5f5;
  #workout-form-container {

  }
}

#last-row-rule {
  margin-top: 2%;
}

.text-area-row {
  #workout-form-text-area-label {
    margin-left: 21.5%;
  }
  #workout-form-text-area {
    font-size: 0.8em;
  }
}

/* Add Workout End*/

/*Dashboard End*/

/*Media Queries Begin*/
.dashboard-main-header-row {
  .main-category {
    @media (max-width: 62em) {
      font-size: 0.9em;
    }
    @media (max-width: 55.125em) {
      font-size: 0.75em;
    }
    @media (max-width: 47.9375em) {
      clear: both;
      width: 100%;
      margin-left: 0%;
    }
  }
  .dashboard-image-area {
    @media (max-width: 47.9375em) {
      display: none;
    }
  }
  #dashboard-manage {
    @media (max-width: 47.9375em) {
      margin-top: 25px;
    }
  }
}

.dashboard-manage-subcategory-row {
  .dashboard-subcategory {
    @media (max-width: 47.9375em) {
      float: left;
    }
  }
}

.dashboard-add-workout-modal-row-show {
  @media (max-width: 62.5em) {
    width: 100%;
    margin: 0%;
    border: none;
  }
  .workout-form-contents {
    .workout-form-second-wrapper {
      @media (max-width: 47.9375em) {
        width: 80%;
        margin: auto;
      }
      .dashboard-add-workout-name {
        @media (max-width: 47.9375em) {
          margin-left: 0%;
          width: 100%;
        }
      }
    }
  }
  .an-entry-detail {
    .list-error-msg {
      @media (max-width: 47.9375em) {
        width: 95%;
        padding-right: 0px;
        margin-bottom: 1.5em;
      }
    }
  }
}

.dashboard-add-workout-header-area {
  .dashboard-add-workout-header-wrapper {
    @media (max-width: 47.9375em) {
      width: 80%;
      float: left;
    }
  }
  .btn-close-area {
    @media (max-width: 47.9375em) {
      width: 20%;
      float: left;
      margin-left: 0%;
    }
  }
  #workout-form-main-close-button {
    @media (max-width: 47.9375em) {
      right: 20%;
    }
  }
}

.workout-name-area {
  @media (max-width: 47.9375em) {
    width: 100% !important;
  }
}

#add-workout-name-label {
  @media (max-width: 51.25em) {
    font-size: 85%;
  }
}

.workout-name-input-area {
  @media (max-width: 47.9375em) {
    width: 100% !important;
    margin-left: 0% !important;
  }
}

.dashboard-workout-name-input {
  @media (max-width: 47.9375em) {
    width: 97%;
  }
}

.dashboard-add-workout-exercise {
  .exercise-drop-down-area {
    @media (max-width: 47.9375em) {
      padding-right: 0em;
    }

  }
  @media (max-width: 47.9375em) {
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 0% !important;
    width: 100% !important;
  }
  .exercise-wrapper {
    @media (max-width: 47.9375em) {
      width: 80%;
      margin: auto;
      padding-bottom: 25px;
    }
    .add-remove-exercise-buttons-area {
      @media (max-width: 47.9375em) {
        width: 100% !important;
      }
      .add-workout-exercise-button-area {
        @media (max-width: 47.9375em) {
          float: left;
          width: 43%;
          margin-left: 6%;
        }
        .add-workout-exercise-remove-button,
        .add-workout-exercise-add-button {
          @media (max-width: 47.9375em) {
            height: 35px;
          }
        }
        .add-workout-exercise-remove-button {
          @media (max-width: 47.9375em) {
            margin-left: -10%;
          }
        }
      }
    }
    .dropdown-control {
      @media (max-width: 47.9375em) {
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
}

.add-workout-exercise-area {
  @media (max-width: 47.9375em) {
    margin-bottom: 10px;
    width: 100% !important;
  }
}

.dashboard-exercise-set {
  /*background-color: #d3d3d3;*/
  label:hover {
    cursor: move;
  }
  .high-light-details {
    label, p {
      color: #c3515e;
    }
  }
  .details-set-weight {
    @media (max-width: 47.9375em) {
      padding-bottom: 30px;
      padding-right: 0px;
      border: 1px solid gray;
      border-radius: 4px 4px 4px 4px;
      margin-bottom: 10px;
      width: 90%;
      margin-left: 10%;
    }
    .add-remove-buttons {
      .add-workout-button {
        @media (max-width: 47.9375em) {
          width: 43%;
          float: left;
        }
      }
      .details-add-button-area {
        @media (max-width: 47.9375em) {
          margin-left: 7%;
        }
      }
      .details-remove-button-area {
        @media (max-width: 47.9375em) {
          margin-left: 2%;
        }
      }
      .add-workout-reps-add-button, .add-workout-reps-remove-button {
        @media (max-width: 47.9375em) {
          height: 35px;
        }
      }
    }
    .indent-set-spacer {
      @media (max-width: 47.9375em) {
        display: none;
      }
    }

    .detail-wrapper {
      @media (max-width: 47.9375em) {
        width: 80%;
        margin: auto;
      }
      .group-set-number {
        @media (max-width: 47.9375em) {
          margin: 15px 0px;
        }
      }

      .weight-and-rep-inputs {

        .add-workout-reps-input {
          @media (max-width: 47.9375em) {
            width: 100%;
          }
        }

        .weight-input-area {
          @media (max-width: 47.9375em) {
            margin-bottom: 7px;
          }
        }
        .rep-input-area {
          @media (max-width: 47.9375em) {
            margin-bottom: 25px;
          }
        }

        .weight-input-wrapper {
          @media (max-width: 47.9375em) {
            width: 20%;
            float: left;
          }
          .add-workout-exercise-entry-label {
            @media (min-width: 57.1875em) {

            }
          }
        }

        .weight-control {

          .add-workout-weight-input {
            @media (max-width: 47.9375em) {
              width: 100%;
            }
          }
          @media (max-width: 47.9375em) {
            width: 70%;
            float: left;
            padding: 0px 13px;
          }
        }
        .workout-units-lb-area {
          @media (max-width: 47.9375em) {
            width: 10%;
          }
          .add-workout-units {
            @media (max-width: 70.8125em) {

            }
            @media (max-width: 68.2em) {

            }
          }
        }
        .add-workout-reps-label-area {
          @media (max-width: 47.9375em) {
            width: 20%;
            float: left;
          }
        }
        .rep-control {
          @media (max-width: 47.9375em) {
            float: left;
            padding: 0px 13px;
            width: 70%;
          }

        }
      }
      label {
        @media (max-width: 57.1875em) {
          margin-top: 0.2em;
          font-size: 80%;
        }
        @media (max-width: 47.9375em) {
          margin-top: 0.1em;
          font-size: 95%;
        }
      }
    }
  }

}

#last-row-buttons {
  @media (max-width: 47.9375em) {
    margin-left: 1.9%;
  }

  #last-row-cancel-button,
  #last-row-note-button,
  #last-row-save-button {
    @media (max-width: 47.9375em) {
      width: 95%;
    }
  }
  .last-row-add-and-cancel-button-area {
    @media (max-width: 47.9375em) {
      margin-bottom: 20px;
      width: 66%;
      float: left;
    }

    .last-row-button-individual-wrapper {
      @media (max-width: 47.9375em) {
        width: 50%;
        float: left;
      }

    }
    .last-row-button-area-wrapper {
      @media (max-width: 47.9375em) {
        width: 100%;
      }
    }
  }
  .last-row-save-button-area {
    @media (max-width: 47.9375em) {
      width: 33%;
      float: left;
    }
  }

}

#last-row-cancel-button {
  @media (max-width: 47.9375em) {
    margin-left: 0%;
    width: 100%;
  }
}

.dashboard-upcoming-workouts-row {
  p {
    @media (max-width: 47.9375em) {
      font-size: 80%;
      margin-left: 25px;
    }

  }
}

#for-side-borders {
  #workout-form-container {
    @media (max-width: 47.9375em) {
      width: 100%;
    }
  }
}

/* Media Queries End*/
