.navbar.navbar-inverse.navbar-fixed-top.top-nav
  .navbar-inner
    %a.brand(href="/") Weighty Plates
    %nav
      %ul.mainpage-list
        - if user_signed_in?
          %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
          %li= link_to 'Settings', edit_user_registration_path
        - else
          %li#login-link= link_to 'Login', new_user_session_path
          %li#signout-link= link_to 'Sign up', new_user_registration_path