@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

/*Pixels to Ems converter*/
@function pem($pixels) {
  @return #{$pixels/16.0}em
}

/*Common Begin*/
@font-face {
  font-family: 'MolengoRegular';
  src: font-url('Molengo-Regular-webfont.eot');
  src: local('MolengoRegular'), font-url('Molengo-Regular-webfont.eot') format("embedded-opentype"), font-url('Molengo-Regular-webfont.woff') format("woff"), font-url('Molengo-Regular-webfont.ttf') format("truetype"), font-url('Molengo-Regular-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'MolengoRegular';
}
li{
  list-style:none;
}
label, input, button, select, textarea{
  font-size: 120%;
  line-height: 150%;
}
#flash_notice{
  background-color: #DFF2BF;
  border: 1px solid;
  color: #4F8A10;
  padding: 10px;
  width: 101%;
  margin-bottom: 3%;
}
#flash_notice p {
  padding: 10px 10px 0px 0px;
}
.top-nav{
  position: static;
}
/*escaping the period of successfully*/
.Signed.out.successfully\.{
  background-image: url(image_path('KnobValidGreen.png'));
  background-repeat:no-repeat;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
  float: left;
  width: 32px;
  height: 32px;
}
.hero-unit{
  background-color: #FAFAFA;
}
.navbar-inner{
  background-color: #525252;
  background-image: none !important;
}
.brand{
  color: white !important;
  @media (min-width: pem(960)) {
    margin-left: pem(-5) !important;
  }
}
.mainpage-list{
  float: right;
}
.mainpage-list li {
  display: inline;
  font-size: 130%;
  font-weight: 200;
  line-height: 1.8;
  margin: 0 0 0 -5px;
  padding-left: 10px;
  padding-right: 10px;
}
/*Common End*/
