@import "twitter/bootstrap";
@import "twitter/bootstrap-responsive";

/*Common Begin*/
@font-face {
  font-family: 'MolengoRegular';
  src: font-url('Molengo-Regular-webfont.eot');
  src: local('MolengoRegular'), font-url('Molengo-Regular-webfont.eot') format("embedded-opentype"), font-url('Molengo-Regular-webfont.woff') format("woff"), font-url('Molengo-Regular-webfont.ttf') format("truetype"), font-url('Molengo-Regular-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}
.navbar-link {
  color: #7598ab;
}
.navbar-link:hover {
  color: #b4c3cc;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'MolengoRegular';
}


body{
  color: #5d5253;
  background-image: url(asset-path("/assets/background/pepperGray.jpg", image));
}
img {
  max-width: 100%;
  height: auto;
}
li{
  list-style:none;
}
h2 {
  font-size: 140%;
}
label, input, button, select, textarea{
  font-size: 95%;
  line-height: 150%;
}
.control-group {
  margin-bottom: 0em;
}
label{
  cursor: text !important;
}
#flash_notice{
  background-color: #DFF2BF;
  border: 1px solid;
  color: #4F8A10;
  padding: 10px;
  width: 96.5%;
  margin-bottom: 3%;
  position: relative;
}
#flash_notice p {
  float: left;
  padding: 10px 10px 0px 20px;
}
#close-button {
  background-image: url(image_path('messages/KnobRemove.png'));
  height: 32px;
  width: 32px;
  right: 0.7em;
  top: 0.9em;
  position: absolute;
  cursor: pointer;
}
.btn-custom{
  background-color: hsl(0, 0%, 19%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#545454", endColorstr="#303030");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#545454), to(#303030));
  background-image: -moz-linear-gradient(top, #545454, #303030);
  background-image: -ms-linear-gradient(top, #545454, #303030);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545454), color-stop(100%, #303030));
  background-image: -webkit-linear-gradient(top, #545454, #303030);
  background-image: -o-linear-gradient(top, #545454, #303030);
  background-image: linear-gradient(#545454, #303030);
  border-color: #303030 #303030 hsl(0, 0%, 15.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}
.top-nav{
  position: static;
}
.navbar-inverse {
  color: #a2a3a3;
}
.navbar-inverse .navbar-inner {
  background-color: #252525;

  background-image: -moz-linear-gradient(top, #5d5253, #4f4647);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5d5253), to(#4f4647));
  background-image: -webkit-linear-gradient(top, #5d5253, #4f4647);
  background-image: -o-linear-gradient(top, #5d5253, #4f4647);
  background-image: linear-gradient(to bottom, #5d5253, #4f4647);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5d5253', endColorstr='#ff4f4647', GradientType=0);
  border-color: #545353;
}
.navbar-inner{
  a{
    text-decoration: none;
    color: #EFEFEF;
  }
  a:hover{
    color: #DBDBDB;
    text-decoration: none;
  }
}
/*escaping the period of successfully*/
.Signed.out.successfully\.{
  background-image: url(image_path('messages/KnobValidGreen.png'));
  background-repeat:no-repeat;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
  float: left;
  width: 32px;
  height: 32px;
}
.hero-unit{
  /*background-color: #FAFAFA;*/
  background-color:transparent;
}

.brand{
  color: white !important;
  text-shadow: 0 1px 0 #5d5253;
  @media (min-width: 59.375em){
    padding-left: 30px !important;
  }
}
.mainpage-list{
  float: right;
  margin-top: 3px;
}
.mainpage-list li {
  display: inline;
  font-size: 130%;
  font-weight: 200;
  line-height: 1.8;
  margin: 0 0 0 -5px;
  padding-left: 10px;
  padding-right: 10px;
}
.fix-after1280{
  @media (min-width: 80em){
    width: 80em !important;
    margin: auto !important;
  }
}
/*Common End*/
