@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

.exclaim-signup {
  text-align: center;
}


.span6{
  background-color: orange;
}

.span5{
  background-color: #9acd32;
}

.firstRow{
  background-color: #adff2f;
}


.box {
  border: 1px black solid;
}